[Desktop Entry]
Name=FastTracker 2
Comment=Clone by 8bitbubsy
Exec=ft2-clone %u
Icon=fasttracker2
Terminal=false
Type=Application
Categories=AudioVideo;X-AudioEditing;
